name: deploy

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: qcastel/github-actions-maven-release@master
        with:
          release-branch-name: "master"

          gpg-enabled: "true"
          gpg-key-id: ${{ secrets.GITHUB_GPG_KEY_ID }}
          gpg-key: ${{ secrets.GITHUB_GPG_KEY }}

          maven-repo-server-id: "releases"
          maven-repo-server-username: ${{ secrets.MVN_REPO_PRIVATE_REPO_USER }}
          maven-repo-server-password: ${{ secrets.MVN_REPO_PRIVATE_REPO_PASSWORD }}

          maven-args: "-Prelease"

          git-release-bot-name: "monkeyWie"
          git-release-bot-email: "liwei-8466@qq.com"

          access-token: ${{ secrets.GITHUB_ACCESS_TOKEN }}